/* Банеры*/
.ds1_baner {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.ds1_baner-img {
  width: 40%;
  height: 100px;
  float: left;
  padding: 5px;
}

.ds1_baner-img img {
  width: 100%;
  height: 90%;
}

.ds1_baner-text {
  width: 48%;
  height: 100px;
  padding: 5px;
  float: left;
}

.ds1-chif {
  width: 100%;
  height: 355px;
  border-radius: 5px;
}

.ds1-chif h3 {
  text-align: center;
  margin-bottom: 30px;
}

.ds1-chif-img {
  width: 60%;
  height: 70%;
  margin: 0 auto;
}

/* fix */
.sidebar-top {
  padding: 15px 30px;
  margin-bottom: 30px;
}
